<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvee Catering</title>
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 55%;
        }
        
        #table td, #table th {
            border: 1px solid #ddd;
            padding: 6px;
        }
        
        #table tr:nth-child(even){background-color: #f2f2f2;}
        
        #table tr:hover {background-color: #ddd;}
        
        #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 5px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 2px 2px;
            cursor: pointer;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        ul.topnav {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        ul.topnav li {float: left;}

        ul.topnav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        ul.topnav li a:hover:not(.active) {background-color: #111;}

        ul.topnav li a.active {background-color: #4CAF50;}

        ul.topnav li.right {float: right;}

        @media screen and (max-width: 600px) {
        ul.topnav li.right, 
        ul.topnav li {float: none;}
        }

        .navbar {
            overflow: hidden;
            background-color: #111;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <ul class="topnav">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/customer">Customer</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    <center>
        <h2 center>Customer Database</h2>
    <table id="table" >
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
            <% customers.forEach(el => { %>
                <tr>
                    <td><%= el.name %></td>
                    <td><%= el.username %></td>
                    <td><%= el.email %></td>
                    <td><%= el.password %></td>
                    <td><a href="/customer/edit/<%= el.id %>"><input type="button"  value="Edit" class="button" style="color: white;"></a><a href="/customer/delete/<%= el.id %>"><input type="button"  value="Delete" class="button" style="color: white;"></a></td>
                </tr>
            <% }) %>
    </table>
    </center>
</body>
    <div class="navbar">
    <a>Marvee Catering © 2021</a>
    </div>
</html>